<section id="about">
  <div class="container-fluid sin-padd">
    <div class="col-xs-12 div-img-40 div-hori" >
      <%= image_tag "home01-tit-sh.jpg", class: "img-responsive img-ppal"%>
    </div>

    <div class="col-xs-12 div-img-25 div-vert sin-padd-r margen-menu" >
      <%= image_tag "home01-tit-sv.jpg", class: "img-responsive img-ppal"%>
    </div>

    <div class="col-xs-12 row margen-menu">
        <div class="col-md-offset-1 col-md-5 col-xs-12 ventas1">
          <h3><i class="fa fa-check-square-o"></i> Derecho Penal</h3>
          <p>El derecho penal es la rama del derecho que establece y regula el castigo de los crímenes o delitos, a través de la imposición de ciertas penas (como la reclusión en prisión, por ejemplo).<br/>
          Existe el derecho penal objetivo (ius poenale), que se refiere a las normas jurídicas penales en sí, y subjetivo (ius puniendi), que contempla la aplicación de una sanción a aquellos que actualizan las hipótesis previstas por el derecho penal objetivo.
          </p>
          <div class="righter">
            <%= link_to "Más Información", new_contact_path(:motivo => "txaShop - Mas Información"), remote: true, class: "btn btn-info btn-md" %>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-5 col-xs-12 ventas1">
          <h3><i class="fa fa-check-square-o"></i> Derecho Laboral</h3>
          <p>Disponemos en nuestro bufete abogados especializados en reclamar salarios, Incapacidades Permanentes, despidos, acoso laboral, contratos, asesoramiento a empresas y gestorías, recursos contra actas de inspección, accidentes de trabajo y todo lo relacionado con el derecho laboral.</p>
          <div class="righter">
            <%= link_to "Más Información", new_contact_path(:motivo => "txaShop - Mas Información"), remote: true, class: "btn btn-info btn-md" %>
          </div>
        </div>
    </div>
    <div class="col-xs-12 row">
        <div class="col-md-offset-1 col-md-5 col-xs-12 ventas1">
          <h3><i class="fa fa-check-square-o"></i> Herencias y testamentos</h3>
          <p>En nuestro bufete de Abogados siempre encontrará un abogado especializado en Redacción de testamentos, particiones de herencias, herencias abintestato, declaración judicial de herederos, liquidación de impuestos y muchas cuestiones más relacionadas con ese delicado momento.</p>
          <div class="righter">
            <%= link_to "Más Información", new_contact_path(:motivo => "txaShop - Mas Información"), remote: true, class: "btn btn-info btn-md" %>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-5 col-xs-12 ventas1">
          <h3><i class="fa fa-check-square-o"></i> Derecho matrimonial</h3>
          <p>En este ámbito, nuestros abogados están especializados en Separaciones, divorcios, adopción y filiación, impugnaciones de filiación, parejas de hecho, custodias compartidas, modificación de medidas definitivas, reclamación de impagos de pensiones, medidas provisionales, en definitiva cualquier cuestión relacionada con el Derecho matrimonial y sus raíces.</p>
          <div class="righter">
            <%= link_to "Más Información", new_contact_path(:motivo => "txaShop - Mas Información"), remote: true, class: "btn btn-info btn-md" %>
          </div>
        </div>
    </div>
    <div class="col-xs-12 row">
      <div class="col-md-offset-1 col-md-5 col-xs-12 ventas1">
          <h3><i class="fa fa-check-square-o"></i> Responsabilidad Civil</h3>
          <p>Le asesoremos y gestionaremos todos los trámites relacionados con indemnización por lesiones, accidentes de tráfico, negligencias médicas, responsabilidad patrimonial de la Administración, reclamar contra compañías de seguros y demás circunstancias que le puedan surgir en el transcurso de su vida.</p>
        <div class="righter">
          <%= link_to "Más Información", new_contact_path(:motivo => "txaShop - Mas Información"), remote: true, class: "btn btn-info btn-md" %>
        </div>
      </div>
      <div class="col-md-offset-1 col-md-5 col-xs-12 ventas1">
        <h3><i class="fa fa-check-square-o"></i> Derecho administrativo</h3>
        <p>Nuestro equipo de Abogados le tramitaran cualquier recurso contencioso -administrativo frente a la Administración pública y también recursos por vía judicial.</p>
        <div class="righter">
        <div class="righter">
          <%= link_to "Más Información", new_contact_path(:motivo => "txaShop - Mas Información"), remote: true, class: "btn btn-info btn-md" %>
        </div>
        </div>
      </div>
    </div>
  <br/><br/><br/><br/></div>
</section>